@{
    ViewData["Title"] = "Acceptance";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>
<div class="row" style="margin-top:50px;">
    <div class="row w-100">
        <h2 style="display:block;">Acceptance</h2>
    </div>
</div>
  