@{
    ViewData["Title"] = "Change Request";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>
<div class="row w-100" style="margin-top:50px;">
    <h5 style="display:block;">Engagement List</h5>
</div>
<div class="row col-md-12 mt-3">
    <table class="table table-bordered table mb-0 mt-3 bg-white table-hover table-striped" id="Plan Review">
        <thead>
            <tr>
                <th>Audit Period</th>
                <th>Audit Entity</th>
                <th>Current Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './create_audit_plan';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Join
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './create_audit_plan';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Join
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './create_audit_plan';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Join
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './create_audit_plan';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Join
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="window.location.href = './create_audit_plan';" class="btn btn-link text-danger btn-sm btn-rounded">
                        Join
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
  