@{
    ViewData["Title"] = "Special Assignment";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar_policy').hide();
    })
</script>


<div class="row text-center" style="margin-top:50px;">
    <p>SPECIAL ASSIGNMENT</p>


</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <p>...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">Branch Special Audit</li>
        <li class="list-group-item">SAM Protfolio </li>
        <li class="list-group-item">Budget Assesment</li>
        <li class="list-group-item">Profitabilty Assesment of the branches</li>
        <li class="list-group-item">Inspection</li>
    </ul>
</div>
