@{
    ViewData["Title"] = "Department Setup";
    Layout = "_Layout";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar_policy').hide();
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfBranches tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function newBranchSetup() {
        $('#setupBranchModal').modal('show');
        $('#branchCodeModalField').val('');
        $('#branchNameModalField').val('');
        $('#branchZoneModalField').val('');
        $('#branchAddressModalField').val('');
    }

    function setupBranch(code, name, zone, address, status) {
        $('#branchCodeModalField').val(code);
        $('#branchNameModalField').val(name);
        $('#branchZoneModalField').val(zone);
        $('#branchAddressModalField').val(address);
        if (status == "Active")
            $('#branchActiveModalField').click();
        else if (status == "Inactive")
            $('#branchInactiveModalField').click();

        $('#setupBranchModal').modal('show');
    }

    function publishBranchChanges() {

        //$('#listOfBranches tbody').append('<tr><td></td>');
    }
</script>

<div class="col-md-12" style="margin-top:20px;">
    <h3>List of Departments</h3>
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" id="searchTableRecord" type="text" placeholder="Search..">
        </div>
        <div class="col-md-2">
            <button onclick="newBranchSetup();" class="btn btn-danger w-100">Add New</button>
        </div>
    </div>
    <br>
    <table id="listOfBranches" class="table align-middle mb-0 bg-white table-hover table-striped">
        <thead class="bg-light">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Division</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewData["DepartmentList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["DepartmentList"]))
                    {

                        <tr>
                            <td>
                                <p class="fw-normal mb-1">@item.OFFICIAL_CODE</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.NAME</p>
                                <!--<p class="text-muted mb-0">IT department</p>-->
                            </td>
                            <td>
                                <p class="fw-normal mb-1">@item.DIV_NAME</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline">@item.STATUS</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link text-danger btn-sm btn-rounded" onclick="setupBranch('24402','Head Office Branch','Islamabad','1 Faisal Avenue G-7/1, Zero Point, Islamabad','Active');">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                }}
            <!-- <tr>
                 <td>
                     <p class="fw-normal mb-1">24401</p>
                 </td>
                 <td>
                     <p class="fw-normal mb-1">Islamabad Branch</p>
                </td>
            <td>
                <p class="fw-normal mb-1">Islamabad</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Zero Point, Islamabad</p>
            </td>

            <td>
                <span class="badge badge-success rounded-pill d-inline">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-link text-danger btn-sm btn-rounded" onclick="setupBranch('24401','Islamabad Branch','Islamabad','Zero Point, Islamabad','Active');">
                    Edit
                </button>
            </td>
            </tr>
            <tr>
                <td>
                    <p class="fw-normal mb-1">24403</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">Rawalpind Cantt Branch</p>

                </td>
                <td>
                    <p class="fw-normal mb-1">Rawalpindi</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">Old Airport1 Road, Rawalpindi</p>
                </td>


                <td>
                    <span class="badge badge-success rounded-pill d-inline">Active</span>
                </td>
                <td>
                    <button type="button" class="btn btn-link text-danger btn-sm btn-rounded" onclick="setupBranch('24403','Rawalpind Cantt Branch','Rawalpindi','Old Airport1 Road, Rawalpindi','Active');">
                        Edit
                    </button>
                </td>
            </tr>
            -->
        </tbody>
    </table>
</div>

<div id="setupBranchModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Branch Setup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="branchCodeModalField">Branch Code</label>
                        <input type="text" class="form-control" id="branchCodeModalField" aria-describedby="brcode" placeholder="Branch Code">

                    </div>
                    <div class="form-group">
                        <label for="branchNameModalField">Branch Name</label>
                        <input type="text" class="form-control" id="branchNameModalField" placeholder="Branch Name">
                    </div>
                    <div class="form-group">
                        <label for="branchZoneModalField">Zone</label>
                        <select id="branchZoneModalField" class="form-control">
                            <option id="Rawalpindi" name="Rawalpindi">Rawalpindi</option>
                            <option id="Lahore" name="Lahore">Lahore</option>
                            <option id="Islamabad" name="Islamabad">Islamabad</option>
                            <option id="Karachi" name="Karachi">Karachi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="branchAddressModalField">Address</label>
                        <textarea rows="3" class="form-control" id="branchAddressModalField" placeholder="Branch Address" draggable="false"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="branchAddressModalField">Status</label>
                        <div class="row col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="branchActiveModalField" value="option1" />
                                <label class="form-check-label" for="branchActiveModalField">Active</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="branchInactiveModalField" value="option2" />
                                <label class="form-check-label" for="branchInactiveModalField">Inactive</label>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button onclick="publishBranchChanges();" type="button" class="btn btn-danger">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

