@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>

            <div class="row" style="margin-top:50px;">
                <div class="row w-100">
                    <h3 style="display:block;">Section 3:</h3>
                </div>
                <div class="row w-100">
                    <h4 style="display:block;">COMPLIANCE AND OPERATING RISK MATRIX</h4>
                </div>
                <div class="row w-100">
                    <h6 style="display:block;">3.1. Status of Compliance of Inspection Reports & Complaints Management</h6>
                </div>
                <div class="row w-100">
                    <table class="table table-bordered table-responsive" id="Other Comments" table mb-0 mt-3 bg-white table-hover table-striped>
                        <thead>
                            <tr >
                                <td class="col-md-1"></td>
                                <td class="col-md-1" style="text-align:left;">Head</td>
                                <td class="col-md-1" style="text-align:left;">Unresolved / Carried Forward <br /> (as of Jan 1, 2021)</td>
                                <td class="col-md-1" style="text-align:left;">Reported during the Period</td>
                                <td class="col-md-1" style="text-align:left;">Settled During the Period</td>
                                <td class="col-md-1" style="text-align:left;">Average No of days for settlement</td>
                                <td class="col-md-1" style="text-align:left;">No of instances where complaints are settled surpassed 30 days.</td>
                                <td class="col-md-1" style="text-align:left;">No of Complaints Pending</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="col-md-1">
                                <td width="50">i</td>
                                <td>I&C Complaints</td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr class="col-md-1">
                                <td></td>
                                <td style="text-align:left;">Head</td>
                                <td style="text-align:left;">Unresolved / Carried Forward <br /> (as of Jan 1, 2021)</td>
                                <td style="text-align:left;">Reported during the Period</td>
                                <td style="text-align:left;">Settled During the Period</td>
                                <td style="text-align:left;">Average No of days for settlement</td>
                                <td style="text-align:left;">No of instances where complaints are settled surpassed 30 days.</td>
                                <td style="text-align:left;">No of Complaints Pending</td>
                            </tr>
                            <tr class="col-md-1">
                                <td>ii</td>
                                <td>I&C Paras</td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                                <td><input type="text" /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 mt-5">
                    <button onclick="window.location.href = './AnnexureB_5';" class="btn-primary" style="float:right;">Next</button>
                </div>
            </div>

