@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>


<div>
    <div class="row" style="margin-top:50px;">
        <table class="table table-bordered table mb-0 mt-3 bg-white table-hover">
            <thead>
                <tr>
                    <td colspan="6">CASH MANAGEMENT</td>
                </tr>
                <tr>
                    <td colspan="2">3.3. Cash Opening Time:</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="6">3.4. Cash in Hand (As per physical verification as on <input type="text" />) <span style="float:right">Amount in Pkr</span></td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>Physical Presence/Verification</td>
                    <td>As per Night Safe Register</td>
                    <td>Difference (if any)</td>
                    <td>Reasons</td>
                    <td>Responsible Function</td>
                </tr>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">3.5. Key Register (Please provide point wise details & Comments. In case of deviations please also provide quantitative estimates along with Responsible Function)</td>
                </tr>
                <tr>
                    <td colspan="1">i</td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="1">ii</td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="1">iii</td>
                    <td colspan="5"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row w-100" style="margin-top:30px">
        <h6 style="display:block;">3.6.Cash with Other Bank's (As on <input type="text" />)</h6>
    </div>
    <div>
        <div class="row" style="margin-top:30px;">
            <table class="table table-bordered table mb-0 mt-3 bg-white table-hover">
                <thead>
                    <tr>
                        <td colspan="1">Bank's Name & Address</td>
                        <td colspan="2"><input type="text" /></td>
                        <td colspan="1">Account Code</td>
                        <td colspan="1"><input type="text" /></td>
                    </tr>
                    <tr>
                        <td colspan="1">As per Computer Output/Sipplementary Register</td>
                        <td colspan="1"> As per Banker's Certificate</td>
                        <td colspan="1">Difference (if any)</td>
                        <td colspan="1">Reasons</td>
                        <td colspan="1">Responsible Function</td>
                    </tr>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5">3.7. Cash with ATM (Please provide point wise details & Comments. In case of deviations please also provide quantitative estimates along with Responsible Function)</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height:80px"></td>
                    </tr>
                    <tr>
                        <td colspan="5">3.8. Maintenance of Prize Bond (Please provide point wise details & Comments. In case of deviations please also provide quantitative estimates along with Responsible Function)</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height:80px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 mt-5">
        <button onclick="window.location.href = './AnnexureB_7';" class="btn-primary" style="float:right;">Next</button>
    </div>
