@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>


    <div>
        <div class="row" style="margin-top:50px;">
            <div class="row w-100">
                <center>
                    <h6 style="display:block;">(Data to be coptured from HRIS)</h6>
                </center>
            </div>

            <table class="table table-bordered" id="b) Staff Position (Branch Staff Details: All Staff including security guards)" class="table mb-0 mt-3 bg-white table-hover table-striped">
                <thead>
                    <tr>
                        <td style="text-align:left;" colspan="8">b) Staff Position (Branch Staff Details: All Staff including security guards)</td>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td width="50">Sr. #</td>
                        <td width="200">Name</td>
                        <td width="50">Age <br />(years)</td>
                        <td width="100">Functional Designation</td>
                        <td width="100">Cadre</td>
                        <td width="100">P.P. Number and Payroll <br />(ZTBL or KSSL)</td>
                        <td width="50">Date of Posting</td>
                        <td width="100">Duration and Reasons of Stay at same station beyond 3 years <br /> (if Applicable)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Comments on Shortage of Staff (if applicable)</td>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Comments on attendance, staff punctuality and maintenance of leave Record with updated ERP</td>
                        <td colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="2">No of MCO Circles</td>
                        <td colspan="2"></td>
                        <td colspan="2">MCO's Posted</td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-6 mt-5">
                <button onclick="window.location.href = './AnnexureB_3';" class="btn-primary" style="float:right;">Next</button>
            </div>
        </div>
</div>