@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>


<div>
    <div class="row" style="margin-top:50px;">
        <table class="table table-bordered table mb-0 mt-3 bg-white table-hover">
            <thead>
                <tr>
                    <td colspan="9">ACCOUNTS (MAINTENANCE & OPERATION STATUS)</td>
                </tr>
                <tr>
                    <td colspan="9">3.9. Physical Verification of Branch Safe Documents</td>
                </tr>
            <tbody>
                <tr>
                    <td>Printed Cheques Books</td>
                    <td>C/A Cheque Books</td>
                    <td>PLS Cheque Books</td>
                    <td>Business Deposits</td>
                    <td>KKS Cheques Books</td>
                    <td>RBA Cheques Books</td>
                    <td>D.D. Books</td>
                    <td>MCO Receipt Books</td>
                    <td>Loan Application Form</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">3.10. Balancing of Deposit Accounts</td>
                </tr>
                <tr>
                    <td>G.L. Head</td>
                    <td>Category of Deposit</td>
                    <td>As per CBAS</td>
                    <td>As per CDMS</td>
                    <td>Difference (if any)</td>
                    <td>Difference Since</td>
                    <td colspan="2">Reason for Difference</td>
                    <td>Responsible Function</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">3.11. Financial Discipline (in terms of control over expenses)</td>
                </tr>
                <tr>
                    <td>G.L. Head</td>
                    <td>Particulars</td>
                    <td>Budgeted</td>
                    <td>Actual</td>
                    <td>Preceding Period Comparison</td>
                    <td>(+/-) over Budgeted</td>
                    <td>Reasons</td>
                    <td>(+/-) over preceding Period</td>
                    <td>Responsible Function</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">3.12.Sundry & Suspense Accounts as on</td>
                </tr>
                <tr>
                    <td>G.L. Head</td>
                    <td>Amount</td>
                    <td>Pending Since</td>
                    <td>Nature/Type of Entries</td>
                    <td>Reasons for Pendency</td>
                    <td>Remarks</td>
                    <td>Responsible Function</td>
                    <td>Action Taken by ZMO since Pending</td>
                    <td>Action taken by ZC since Pending</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">3.13.Abnormal Balances as per Statement of Affairs</td>
                </tr>
                <tr>
                    <td>G.L. Head</td>
                    <td>Amount</td>
                    <td>Pending Since</td>
                    <td>Nature/Type of Entries</td>
                    <td>Reasons for Pendency</td>
                    <td>Remarks</td>
                    <td>Responsible Function</td>
                    <td>Action Taken by ZMO since Pending</td>
                    <td>Action taken by ZC since Pending</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">3.14.Pending Entries of ZTBL Central Account</td>
                </tr>
                <tr>
                    <td>G.L. Head</td>
                    <td>Amount</td>
                    <td>Pending Since</td>
                    <td>Nature/Type of Entries</td>
                    <td>Reasons for Pendency</td>
                    <td>Remarks</td>
                    <td>Responsible Function</td>
                    <td>Action Taken by ZMO since Pending</td>
                    <td>Action taken by ZC since Pending</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-md-6 mt-5">
        <button onclick="window.location.href = './AnnexureB_8';" class="btn-primary" style="float:right;">Next</button>
    </div>
