@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>


 <div>
        <div class="row" style="margin-top:50px;">
            <div class="row w-100">
                <center>
                    <h6 style="display:block;">3.2. Status of Compliance of Last/Latest Audit Report (To be captured from IAMS)</h6>
                </center>
            </div>

            <table class="table table-bordered table mb-0 mt-3 bg-white table-hover">
                <thead>
                    <tr>
                        <td>Sr. #</td>
                        <td>Audit Report Date</td>
                        <td>Name of Observation / Para Category</td>
                        <td>No of High Risk Paras / Serious Paras</td>
                        <td>No of Medium & Low Risk Paras / Normal Paras</td>
                        <td>Reasons of Non Compliance</td>
                        <td>Comments of Branch Manager</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-6 mt-5">
                <button onclick="window.location.href = './AnnexureB_6';" class="btn-primary" style="float:right;">Next</button>
            </div>
        </div>
