@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>


<div>
    <div class="row" style="margin-top:50px;">
        <table class="table table-bordered table mb-0 mt-3 bg-white table-hover">
            <tbody>
                <tr>
                    <td colspan="5">3.15. Random Checking of Account Opening Forms</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>Account No</td>
                    <td>NatUre of Shortcomings</td>
                    <td>Reasons</td>
                    <td>Responsible Function</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">3.16. Cheking of NIFT Account/Home Remittences</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>G.L. Head</td>
                    <td>Amount Outstanding and since Outstanding</td>
                    <td>Reasons</td>
                    <td>Responsible Function</td>

                </tr>
                <tr>
                    <td>3504 NIFT (Inward Clearing)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6399 NIFT (Outward Clearing)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6392 Home Remittances (WU)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">3.17. Random Checking of Centralized Payroll Management System</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>Nature/Type/Category of anomaly observed</td>
                    <td>Amount</td>
                    <td>Reasons</td>
                    <td>Remarks</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">3.18.Random Checking/Verification of Pension Cases (Please ensure sample selection should be at least 10% of total record)</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>Nature/Type/Category of anomaly observed</td>
                    <td>Amount</td>
                    <td>Reasons</td>
                    <td>Remarks</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">3.19. Random Checking of Vouchers (Please ensure sample selection should be at least 10% of total record)</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>Vocher Type/Purpose</td>
                    <td>Date</td>
                    <td>Nature of Anomaly if any</td>
                    <td>Responsible Function</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">3.20. Random Checking of Loan Safe Files (Please ensure sample selection should be at least 10% of total record)</td>
                </tr>
                <tr>
                    <td>S#</td>
                    <td>L.C. No</td>
                    <td>Details of deviation observed</td>
                    <td>Reasons</td>
                    <td>Responsible Function</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-md-6 mt-5">
        <button onclick="window.location.href = './AnnexureB_8';" class="btn-primary" style="float:right;">Next</button>
    </div>
