@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}

<script type="text/javascript">
    $('#document').ready(function () {
        $('#sidebar_policy').hide();
    });
</script>
<div class="row" style="margin-top:50px;">
    <div class="row w-100">
        <h2 style="display:block;">BRANCH INSPECTION REPORT FORMAT</h2>
    </div>
    <div class="row w-100">
        <h5 style="display:block;">1. Basic Information</h5>
    </div>
    <table class="table table-bordered" id="1. Basic Information table align-middle mb-0 mt-3 bg-white table-hover table-striped">
        <tbody>
            <tr>
                <td>Branch</td>
                <td><input type="text" /></td>
                <td>Zone</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Br. Address</td>
                <td><input type="text" /></td>
                <td>Last Inspection Conducted on</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Distance from I&C Field Unit</td>
                <td><input type="text" /></td>
                <td>Last Audit</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Date of this Inspection</td>
                <td><input type="text" /></td>
                <td>Last visit by ZM Ops on</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Name of Team Head Conducting this Inspection</td>
                <td><input type="text" /></td>
                <td>Designation</td>
                <td><input type="text" /></td>
            </tr>
        </tbody>

    </table>
</div>
<div class="row" style="margin-top:50px;">
    <div class="row w-100">
        <h6 style="display:block;">Data to be captured at profiling stage from HRIS (PP.No.</h6><input type="text" />  <h6> ) / Branch Code</h6><input type="text" />

    </div>
</div>
<div>
    <table class="table table-bordered" id="a) Basic Info about Branch Manager table mb-0 mt-3 bg-white table-hover table-striped">
        <thead>
            <tr>
                <td style="text-align:left;" colspan="4">a) Basic Info about Branch Manager</td>
            </tr>
        </thead>
        <tbody>
            <br />
            <tr>
                <td> Name of Branch Manager</td>
                <td><input type="text" /></td>
                <td>Designation</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>P.P. Number</td>
                <td><input type="text" /></td>
                <td>Age</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Posted in this branch since</td>
                <td><input type="text" /></td>
                <td>Reasons for posting period exceeding 3 years. (if applicable)</td>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <td>Years of service with ZTBL</td>
                <td><input type="text" /></td>
                <td>Years remaining to retirement</td>
                <td><input type="text" /></td>
            </tr>

        </tbody>
    </table>
    <div class="col-md-6 mt-5">
        <button onclick="window.location.href = './AnnexureB_2';" class="btn-primary" style="float:right;">Next</button>
    </div>
</div>

  