@{
    ViewData["Title"] = "Annexure - B";
    Layout = "_Layout";
}
<script type="text/javascript" src="~/lib/rich-text-editor/jquery.richtext.js"></script>
<script type="text/javascript">
    $('#document').ready(function () {
        $('#template_box').richText({
            imageUpload: false,
            fileUpload: false,
            videoEmbed: false,
            urls: false
        });
        $('#sidebar_policy').hide();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $('#sidebar_policy').hide();        
    });

    function div_risksubcategoryShowHide() {
        if ($('#riskGroupSelectBox option:selected').val() == 0) {
            $('#div_risksubcategory').hide();
            $('#div_activityContainer').hide();
        }
        else {
            $('#div_risksubcategory').show();
            $('#div_activityContainer').hide();
            $('#riskSubGroupSelectBox').empty();
            $.ajax({
                url: "/Execution/risk_sub_group",
                type: "POST",
                data: {
                    'GR_ID': $('#riskGroupSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $('#riskSubGroupSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                    $.each(data, function (index, item) {
                        $('#riskSubGroupSelectBox').append("<option value=\"" + item.s_GR_ID + "\"> " + item.description+"</option>");
                    });
                    
                },
                dataType: "json",
            });
        }
    }
    function div_activityContainerShowHide() {
        if ($('#riskSubGroupSelectBox option:selected').val() == 0)
            $('#div_activityContainer').hide();
        else
            $('#div_activityContainer').show();
        $('#riskActivitiesSelectBox').empty();
        $.ajax({
            url: "/Execution/risk_activities",
            type: "POST",
            data: {
                'S_GR_ID': $('#riskSubGroupSelectBox option:selected').val(),
            },
            cache: false,
            success: function (data) {
                console.log(data);
                $('#riskActivitiesSelectBox').append("<option value=\"0\" id=\"0\">--Select Sub Group--</option>");
                $.each(data, function (index, item) {
                    $('#riskActivitiesSelectBox').append("<option value=\"" + item.activitY_ID + "\"> " + item.description + "</option>");
                });

            },
            dataType: "json",
        });
    }
    function getAuditObservationTemplate() {
        if ($('#riskActivitiesSelectBox option:selected').val() == 0)
            $('#template_box').val('').trigger('change');
        else {
            $('#template_box').val('').trigger('change');
            $.ajax({
                url: "/Execution/audit_observation_template",
                type: "POST",
                data: {
                    'ACTIVITY_ID': $('#riskActivitiesSelectBox option:selected').val(),
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#template_box').val(item.obS_TEMPLATE).trigger('change');
                    });
                   
                },
                dataType: "json",
            });
        }
    }
    
</script>
<div class="row col-md-12">
    <div class="col-md-12 mt-3">
        <center class="w-100"><h3>Observation</h3></center>
        <div>
            <h5>Select Risk Group</h5>
        </div>
        <select id="riskGroupSelectBox" onchange="div_risksubcategoryShowHide();" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0" selected="selected">--Select Risk Group--</option>
            @{
                if (ViewData["RISK_GROUPS"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["RISK_GROUPS"]))
                    {
                        <option value="@item.GR_ID" id="@item.GR_ID">@item.DESCRIPTION</option>
                    }
                }
            }
        </select>
    </div>
    <div id="div_risksubcategory" style="display:none;" class="col-md-12 mt-3">
        <h5>Select Risk Sub Group</h5>
        <select id="riskSubGroupSelectBox" onchange="div_activityContainerShowHide();" class="form-select form-control" aria-label="Default select example">
        </select>
    </div>
    <div id="div_activityContainer" style="display:none;" class="col-md-12 mt-3">
        <h5>Select Activity/Observation</h5>
        <select id="riskActivitiesSelectBox" onchange="getAuditObservationTemplate();" class="form-select form-control" aria-label="Default select example">
        </select>
    </div>
    <div class="col-md-12 mt-3">
        <div class="page-wrapper box-content">
            <textarea id="template_box" class="content" name="example"></textarea>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-6">
            <label>No. of Days to Reply</label>
            <select class="form-control form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Attachments</label>
            <input class="form-control" type="file" multiple="multiple" style="padding-top:3px;" />
        </div>


    </div>
    <div class="row col-md-12 mt-3">
        <center><h5>Uploaded Files List</h5></center>
        <table class="
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               "></table>
    </div>

</div>