@{
    ViewData["Title"] = "Login";

}


<div class="text-center">
    
    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image bg-danger bg-gradient" style="
        height: 300px;
        "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Internal Audit Management System</h2>
                        <form action="/Home">
                           
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input required type="text" placeholder="P.P Number" id="inputPPNoField" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input required type="password" placeholder="Password" id="inputPassword" class="form-control" />
                            </div>

                           

                            <!-- Submit button -->
                            <button id="submitLoginButton" type="submit" class="btn btn-danger btn-block mb-4" onclick="doLoginSubmit();">
                                Login
                            </button>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->

</div>
