@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
    .icon-card{
        margin:10px;
    }
</style>

<div class="row text-center" style="margin-top:50px;">
    <center class="w-100">
        <div class="row col-md-12">
            <div class="col-md-5 card text-white mb-4 icon-card" style="background: #00a2ef;">
                <div class="card-header"><b>Information Systems Audit Department</b></div>

            </div>
            <div class="col-md-5 card text-white mb-4 icon-card" style="background: #0b7a9b;">
                <div class="card-header"><b>Corporate Audit Department</b></div>

            </div>
        </div>
    </center>
    <center class="w-100">
        <div class="row col-md-12">
            <div class="col-md-5 card text-white bg-success mb-4 icon-card">
                <div class="card-header"><b>Field Audit Department</b></div>
            </div>
            <div class="col-md-5 card text-white bg-danger mb-4 icon-card">
                <div class="card-header"><b>Shariah Audit</b></div>
            </div>
            </div>
    </center>
    
    <div class="row col-md-12">
        <center class="w-100">
            <div class="col-md-5 card text-white mb-4 icon-card" style="background: linear-gradient(183deg, #020200, transparent);">
                <div class="card-header"><b>Inspection & Complaints Department</b></div>
            </div>
        </center>
    </div>
    
</div>
