@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
</style>

<div class="row text-center" style="margin-top:50px;">
    <div class="col-md-4 card text-white bg-primary mb-4" style=" margin-right:50px;">
        <div class="card-header"><b>Information Systems Audit Department</b></div>

    </div>
    <div class="col-md-4 card text-white bg-secondary mb-4" style="margin-right: 50px;">
        <div class="card-header"><b>Corporate Audit Department</b></div>

    </div>
    <div class="col-md-4 card text-white bg-success mb-4" style="margin-right: 50px;">
        <div class="card-header"><b>Field Audit Department</b></div>
    </div>
    <div class="col-md-4 card text-white bg-danger mb-4" style="margin-right: 50px;">
        <div class="card-header"><b>Shariah Audit</b></div>
    </div>
    <center class="w-100">
        <div class="col-md-4 card text-white bg-warning mb-4" style="margin-right:300px;">
            <div class="card-header"><b>Inspection & Complaints Department</b></div>
        </div>
    </center>
</div>
