@{ ViewData["Title"] = "Manage Users";
                Layout = "_Layout"; }

<script type="text/javascript">
    $(document).ready(function () {
        var g_deptId = 0;
        $('#sidebar_policy').hide();
        $("#searchTableRecord").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#listOfDepartment tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function newDeptSetup() {
        g_deptId = 0;
        $('#setupDeptModal').modal('show');
        $('#deptCodeModalField').val('');
        $('#deptNameModalField').val('');
        $('#deptdivNameModalField').val('');
    }

    function setupDepartment(code, name, div_name, status, id, div_id) {
        g_deptId = id;
        $('#deptCodeModalField').val(code);
        $('#deptNameModalField').val(name);

        $('#deptdivNameModalField').val(div_id);
        if (status == "Active")
            $('#deptActiveModalField').click();
        else if (status == "InActive")
            $('#deptInactiveModalField').click();

        $('#setupDeptModal').modal('show');
    }

    function publishDepartmentChanges() {

        var code = $('#deptCodeModalField').val();
        var name = $('#deptNameModalField').val();
        var div_id = $('#deptdivNameModalField').val();
        var div_name = $('#deptdivNameModalField option:selected').text();
        var status;
        var badge;
        if ($('#deptActiveModalField').is(':checked')) {
            status = 'Active';
            badge = 'badge-success ';
        }
        else {
            status = 'InActive';
            badge = 'badge-danger ';
        }
        if (g_deptId == 0)
            var row = "<tr id=\"dept_" + g_deptId + "\"><td class=\"dept_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"dept_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"dept_div\"><p class=\"fw-normal mb-1\">" + div_name + "</p></td><td class=\"dept_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"dept_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupDepartment('" + code + "','" + name + "','" + div_name + "','" + status + "','" + g_deptId + "','" + div_id + "');\">Edit</button></td></tr>";
        else
            $('#dept_' + g_deptId).html("<td class=\"dept_code\"><p class=\"fw-normal mb-1\">" + code + "</p></td><td class=\"dept_name\"><p class=\"fw-normal mb-1\">" + name + "</p></td ><td class=\"dept_div\"><p class=\"fw-normal mb-1\">" + div_name + "</p></td><td class=\"dept_status\"><span class=\"badge " + badge + " rounded-pill d-inline\">" + status + "</span></td><td class=\"dept_action\"><button type=\"button\" class=\"btn btn-link text-danger btn-sm btn-rounded\" onclick=\"setupDepartment('" + code + "','" + name + "','" + div_name + "','" + status + "','" + g_deptId + "','" + div_id + "');\">Edit</button></td>");
        $('#listOfDepartment tbody').append(row);
        $('#setupDeptModal').modal('hide');
        $.ajax({
            url: "/Setup/department_add",
            type: "POST",
            data: {
                'id': g_deptId,
                'code': code,
                'name': name,
                'div_id': div_id,
                'status': status
            },
            cache: false,
            success: function (data) {
                console.log(data);
                window.location = window.location.pathname;

            },
            dataType: "json",
        });
    }
</script>

<div class="row col-md-12 mt-3">
    <h3>Manage Users</h3>
</div>
<div class="row col-md-10">
    <button class="btn-primary align-right" style="float:right;">Save</button>
</div>
<div class="row col-md-12 mt-1">
    <div class="row col-md-2 mt-1">
        <label>P.P.No.</label>
    </div>
    <div class="row col-md-4 mt-1">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="P.P.Number" aria-label="P.P.Number" aria-describedby="basic-addon2">
        </div>
    </div>
    <div class="row col-md-2 mt-1">
        <label class="ml-4">login Name</label>
    </div>
    <div class="row col-md-4 mt-1">
        <input class="form-select form-control" type="text" />
    </div>
</div>
<div class="row col-md-12 mt-1">
    <div class="row col-md-2 mt-1">
        <label>Division</label>
    </div>
    <div class="row col-md-4 mt-1">
        <select id="divSelectionBox" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0">--Select Division--</option>
        </select>
    </div>
    <div class="row col-md-2 mt-1">
        <label class="ml-4">Department</label>
    </div>
    <div class="row col-md-4 mt-1">
        <select id="DeptSelectionBox" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0">--Select Department--</option>
        </select>
    </div>
</div>
<div class="row col-md-12 mt-1">
    <div class="row col-md-2 mt-1">
        <label>Zone</label>
    </div>
    <div class="row col-md-4 mt-1">
        <select id="divSelectionBox" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0">--Select Zone--</option>
        </select>
    </div>
    <div class="row col-md-2 mt-1">
        <label class="ml-4">Branches</label>
    </div>
    <div class="row col-md-4 mt-1">
        <select id="DeptSelectionBox" class="form-select form-control" aria-label="Default select example">
            <option value="0" id="0">--Select Branch--</option>
        </select>
    </div>
</div>
<div class="row col-md-12 mt-1">
    <div class="row col-md-2 mt-1">
        <label>Password</label>
    </div>
    <div class="row col-md-4 mt-1">
        <input class="form-select form-control" type="password" />
    </div>
    <div class="row col-md-2 mt-1">
        <label class="ml-4">Confirm Password</label>
    </div>
    <div class="row col-md-4 mt-1">
        <input class="form-select form-control" type="password" />
    </div>
</div>
<div class="row col-md-12 mt-1">
    <div class="row col-md-2 mt-1">
        <label>Email</label>
    </div>
    <div class="row col-md-10 mt-1">
        <input class="form-select form-control" type="email" />
    </div>
</div>
<div>
    <div class="row col-md-12 mt-1">
        <div class="row col-md-2 mt-1">
            <label>Group/Role</label>
        </div>
        <div class="row col-md-10 mt-1">
            <select id="DeptSelectionBox" class="form-select form-control" aria-label="Default select example">
                <option value="0" id="0">--Select Group/Role--</option>
            </select>
        </div>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="row col-md-2 mt-3">
        <label>Is Active</label>
    </div>
    <div class="row col-md-2 mt-3">
        <input type="checkbox" />
    </div>
    <div class="row col-md-4 mt-3">
        <button class="btn-primary align-right" style="float:left;">Save</button>
    </div>
</div>
<div class="mt-1">
    <table class="table table-bordered mb-0 mt-3 bg-white table-hover table-striped" id="Manage User">
        <thead>
            <tr>
                <td class="mh-50" style="text-align:left;" colspan="6"><h6>User Name</h6></td>
                <td style="text-align:left;" colspan="6"><h6>P.P. No.</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Zone</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Branch</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Division</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Department</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Email</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Group/Role</h6></td>
                <td style="text-align:left;" colspan="6"><h6>Is Active</h6></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"></td>
                <td style="text-align:left;" colspan="6"><input type="checkbox" /></td>
            </tr>
        </tbody>
    </table>
</div>




